src/schema/xsd/schematron-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  (c) International Organization for Standardization 2005.
  Permission to copy in any form is granted for use with conforming
  SGML systems and applications as defined in ISO 8879,
  provided this notice is included in all copies.
-->
<xs:schema elementFormDefault="qualified" targetNamespace="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
	<!-- Element declarations -->
	<xs:element name="schema">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:any namespace="##other" processContents="skip" />
				<xs:any namespace="##local" processContents="skip" />
				<xs:element ref="sch:include" />
				<xs:element ref="sch:ns" />
				<xs:element ref="sch:title" />
				<xs:element ref="sch:p" />
				<xs:element ref="sch:let" />
				<xs:element ref="sch:phase" />
				<xs:element ref="sch:pattern" />
				<xs:element ref="sch:diagnostics" />
			</xs:choice>
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:schemaVersion" />
			<xs:attribute ref="sch:defaultPhase" />
			<xs:attribute ref="sch:queryBinding" />
			<xs:attribute ref="sch:icon" />
			<xs:attribute ref="sch:see" />
			<xs:attribute ref="sch:fpi" />
			<xs:attribute ref="xml:lang" />
			<xs:attribute ref="xml:space" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="active">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:choice>
					<xs:element ref="sch:dir" />
					<xs:element ref="sch:emph" />
					<xs:element ref="sch:span"> </xs:element>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:pattern" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="assert">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:choice>
					<xs:element ref="sch:name" />
					<xs:element ref="sch:value-of" />
					<xs:element ref="sch:emph" />
					<xs:element ref="sch:dir" />
					<xs:element ref="sch:span"> </xs:element>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:test" />
			<xs:attribute ref="sch:flag" />
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:diagnostics" />
			<xs:attribute ref="sch:icon" />
			<xs:attribute ref="sch:see" />
			<xs:attribute ref="sch:fpi" />
			<xs:attribute ref="sch:role" />
			<xs:attribute ref="sch:subject" />
			<xs:attribute ref="xml:lang" />
			<xs:attribute ref="xml:space" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="diagnostic">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:choice>
					<xs:element ref="sch:value-of" />
					<xs:element ref="sch:emph" />
					<xs:element ref="sch:dir" />
					<xs:element ref="sch:span"> </xs:element>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:icon"> </xs:attribute>
			<xs:attribute ref="sch:see"> </xs:attribute>
			<xs:attribute ref="sch:fpi"> </xs:attribute>
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="diagnostics">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:element ref="sch:include" />
				<xs:element ref="sch:diagnostic" />
			</xs:choice>
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="dir">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
			</xs:sequence>
			<xs:attribute ref="sch:value" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="emph" type="xs:string"> </xs:element>
	<xs:element name="extends">
		<xs:complexType>
			<xs:attribute ref="sch:rule" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="let">
		<xs:complexType>
			<xs:attribute ref="sch:name" />
			<xs:attribute ref="sch:value" />
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:attribute ref="sch:path" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ns">
		<xs:complexType>
			<xs:attribute ref="sch:uri" />
			<xs:attribute ref="sch:prefix" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:choice>
					<xs:element ref="sch:dir" />
					<xs:element ref="sch:emph" />
					<xs:element ref="sch:span"> </xs:element>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:class" />
			<xs:attribute ref="sch:icon" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:attribute ref="sch:name" />
			<xs:attribute ref="sch:value" />
		</xs:complexType>
	</xs:element>
	<xs:element name="pattern">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:element ref="sch:include" />
				<xs:choice>
					<xs:element ref="sch:title" />
					<xs:choice>
						<xs:element ref="sch:p" />
						<xs:element ref="sch:let" />
						<xs:element ref="sch:rule" />
					</xs:choice>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:abstract" />
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:is-a" />
			<xs:attribute ref="sch:icon" />
			<xs:attribute ref="sch:see" />
			<xs:attribute ref="sch:fpi" />
			<xs:attribute ref="xml:lang" />
			<xs:attribute ref="xml:space" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="phase">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:element ref="sch:include" />
				<xs:choice>
					<xs:element ref="sch:p" />
					<xs:element ref="sch:let" />
					<xs:element ref="sch:active" />
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:icon" />
			<xs:attribute ref="sch:see" />
			<xs:attribute ref="sch:fpi" />
			<xs:attribute ref="xml:lang" />
			<xs:attribute ref="xml:space" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="report">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:sequence>
					<xs:choice>
						<xs:any namespace="##other" processContents="skip" />
						<xs:any namespace="##local" processContents="skip" />
					</xs:choice>
				</xs:sequence>
				<xs:choice>
					<xs:element ref="sch:name" />
					<xs:element ref="sch:value-of" />
					<xs:element ref="sch:emph" />
					<xs:element ref="sch:dir" />
					<xs:element ref="sch:span"> </xs:element>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:test" />
			<xs:attribute ref="sch:flag" />
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:diagnostics" />
			<xs:attribute ref="sch:icon" />
			<xs:attribute ref="sch:see" />
			<xs:attribute ref="sch:fpi" />
			<xs:attribute ref="sch:role" />
			<xs:attribute ref="sch:subject" />
			<xs:attribute ref="xml:lang" />
			<xs:attribute ref="xml:space" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:any namespace="##other" processContents="skip" />
					<xs:any namespace="##local" processContents="skip" />
				</xs:choice>
				<xs:element ref="sch:include" />
				<xs:choice>
					<xs:element ref="sch:let" />
					<xs:choice>
						<xs:element ref="sch:assert" />
						<xs:element ref="sch:report" />
						<xs:element ref="sch:extends" />
					</xs:choice>
				</xs:choice>
			</xs:choice>
			<xs:attribute ref="sch:abstract" />
			<xs:attribute ref="sch:id" />
			<xs:attribute ref="sch:context" />
			<xs:attribute ref="sch:flag" />
			<xs:attribute ref="sch:icon" />
			<xs:attribute ref="sch:see" />
			<xs:attribute ref="sch:fpi" />
			<xs:attribute ref="sch:role" />
			<xs:attribute ref="sch:subject" />
			<xs:attribute ref="xml:lang" />
			<xs:attribute ref="xml:space" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="span">
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:any namespace="##other" processContents="skip" />
				<xs:any namespace="##local" processContents="skip" />
			</xs:choice>
			<xs:attribute ref="sch:class" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="sch:dir" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value-of">
		<xs:complexType>
			<xs:attribute ref="sch:select" />
			<xs:anyAttribute namespace="##other" processContents="skip" />
		</xs:complexType>
	</xs:element>
	<!-- common declarations -->
	<xs:element name="include">
		<xs:complexType>
			<xs:attribute ref="sch:href" />
		</xs:complexType>
	</xs:element>
	<!-- Data types -->
	<!-- In the default query language binding, xsd:NCNAME -->
	<xs:attribute name="role" type="sch:roleValue"> </xs:attribute>
	<xs:attribute name="subject" type="sch:pathValue"> </xs:attribute>
	<xs:attribute name="icon" type="sch:uriValue"> </xs:attribute>
	<xs:attribute name="see" type="sch:uriValue"> </xs:attribute>
	<xs:attribute name="fpi" type="sch:fpiValue"> </xs:attribute>
	<xs:attribute name="schemaVersion" type="sch:non-empty-string" />
	<xs:attribute name="id" type="xs:ID" />
	<xs:attribute name="defaultPhase" type="xs:IDREF" />
	<xs:attribute name="queryBinding" type="sch:non-empty-string" />
	<xs:attribute name="abstract">
		<xs:simpleType>
			<xs:restriction base="xs:token">
				<xs:enumeration value="true" />
				<xs:enumeration value="false" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="context" type="sch:pathValue" />
	<xs:attribute name="test" type="sch:exprValue" />
	<xs:attribute name="flag" type="sch:flagValue"> </xs:attribute>
	<xs:attribute name="diagnostics" type="xs:IDREFS" />
	<xs:attribute name="pattern" type="xs:IDREF" />
	<xs:attribute name="href" type="sch:uriValue"> </xs:attribute>
	<xs:attribute name="path" type="sch:pathValue" />
	<xs:attribute name="uri" type="sch:uriValue" />
	<xs:attribute name="prefix" type="sch:nameValue" />
	<xs:attribute name="name" type="sch:nameValue" />
	<xs:attribute name="value" type="sch:non-empty-string" />
	<xs:attribute name="is-a" type="xs:IDREF" />
	<xs:attribute name="class" type="sch:classValue" />
	<xs:attribute name="select" type="sch:pathValue" />
	<xs:attribute name="rule" type="xs:IDREF" />
	<xs:simpleType name="uriValue">
		<xs:restriction base="xs:anyURI" />
	</xs:simpleType>
	<xs:simpleType name="pathValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="exprValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="fpiValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="langValue">
		<xs:restriction base="xs:language" />
	</xs:simpleType>
	<xs:simpleType name="roleValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="flagValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="nameValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="classValue">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="non-empty-string">
		<xs:restriction base="xs:token">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
